@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPage/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tài khoản</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "ThongKe")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Tài khoản</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <button id="btnShowModal_Add" type="button" class="btn btn-outline-primary">
                    <i class="fas fa-plus"></i>
                    Thêm
                </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Họ và tên</th>
                            <th>Mail</th>
                            <th>Khóa</th>
                            <th>Lớp</th>
                            <th>Vai trò</th>
                            <th>Chủ nhiệm</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nguyễn Văn Tèo</td>
                            <td>teo.t123456@vanlanguni.vn</td>
                            <td>K23</td>
                            <td>T02</td>
                            <td>Giảng viên</td>
                            <td>Nguyễn Thị Bưởi</td>
                            <td>
                                <button id="btnShowModal_Edit" type="button" class="btn btn-outline-warning">
                                    <i class="fas fa-pen"></i>
                                    Sửa
                                </button>
                                @*<button id="btndeleteAccount" type="button" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                        Xóa
                                    </button>*@
                                <button id="btnShowModal_Detail" type="button" class="btn btn-outline-info">
                                    <i class="fas fa-file-invoice"></i>
                                    Xem chi tiết
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <!-- /.card-body -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- .Popup-->
<div class="modal fade" tabindex="-1" id="AddModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm tài khoản</h3>
                <button type="button" class="close" data-dismiss="modal">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="hoten" class="col-sm-4 col-form-label">Họ và tên</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="hoten" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mail" class="col-sm-4 col-form-label">Mail</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="mail" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Khóa</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">K23</option>
                            <option value="2">K23</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Lớp</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">T01</option>
                            <option value="2">T02</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Vai trò</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">Sinh viên</option>
                            <option value="2">Giảng viên</option>
                            <option value="2">Khoa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Giảng viên chủ nhiệm</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">Nguyen van a</option>
                            <option value="1">Nguyen van b</option>
                            <option value="1">Nguyen van c</option>
                        </select>
                    </div>
                </div>
                @*<div class="row">
            <div class="col-6">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="gv">
                    <label class="form-check-label" for="gv">Giảng viên</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="pq">
                    <label class="form-check-label" for="pq">Phân quyền</label>
                </div>
            </div>
        </div>*@
            </div>
            @*<div class="tt_avt">
                    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
                </div>
                <div class="tt_lienlac">
                    <h5 class="popup_title">Thông tin liên lạc</h5>
                    <div class="form-group row">
                        <label for="diachi" class="col-sm-4 col-form-label">Địa chỉ</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="diachi" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dantoc" class="col-sm-4 col-form-label">Dân tộc</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="dantoc" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tongiao" class="col-sm-4 col-form-label">Tôn giáo</label>
                        <div class="col-sm-8">
                            <select name="tinhtrang" id="tongiao" class="form-control">
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="quocgia" class="col-sm-4 col-form-label">Quốc gia</label>
                        <div class="col-sm-8">
                            <select name="tinhtrang" id="quocgia" class="form-control">
                                <option value="volvo">Việt nam</option>
                                <option value="volvo">Mĩ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tinh" class="col-sm-4 col-form-label">Tỉnh/Thành phố</label>
                        <div class="col-sm-8">
                            <select name="tinhtrang" id="tinh" class="form-control">
                                <option value="volvo">TP HCM</option>
                                <option value="volvo">Hà Nội</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="quanhuyen" class="col-sm-4 col-form-label">Quận/Huyện</label>
                        <div class="col-sm-8">
                            <select name="tinhtrang" id="quanhuyen" class="form-control">
                                <option value="volvo">Quận 1</option>
                                <option value="volvo">Quận 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sdt" class="col-sm-4 col-form-label">SDT</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="sdt" value="">
                        </div>
                    </div>
                </div>
                <div class="tt_khac">
                    <h5 class="popup_title">Phân quyền</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="sv"><input type="radio" id="sv" name="chucvu" checked> Sinh viên</label><br />
                            <label for="gv"><input type="radio" id="gv" name="chucvu"> Giảng viên </label><br />
                            <label for="khoa"><input type="radio" id="khoa" name="chucvu"> Khoa </label><br>
                        </div>
                    </div>
                    <h5 class="popup_title">Thông tin người liên hệ</h5>
                    <div class="form-group row">
                        <label for="hoten_khac" class="col-sm-4 col-form-label">Họ và tên</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="hoten_khac" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sdt_khac" class="col-sm-4 col-form-label">SDT</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="sdt_khac" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="diachi_khac" class="col-sm-4 col-form-label">Địa chỉ khác</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="diachi_khac" value="">
                        </div>
                    </div>
                    <h5 class="popup_title">Thông tin khóa học</h5>
                    <div class="form-group row">
                        <label for="khoahoc" class="col-sm-4 col-form-label">Khóa học</label>
                        <div class="col-sm-8">
                            <select name="tinhtrang" id="khoahoc" class="form-control">
                                <option value="volvo">Khóa K23 Kỹ thuật phần mềm K232T01</option>
                                <option value="volvo">Khóa K23 Kỹ thuật phần mềm K232T02</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tt_canhan">
                    <h5 class="popup_title">Thông tin cá nhân</h5>
                    <div class="form-group row">
                        <label for="ma" class="col-sm-4 col-form-label">Mã</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ma" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hoten" class="col-sm-4 col-form-label">Họ và tên</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="hoten" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gioitinh" class="col-sm-4 col-form-label">Giới tính</label>
                        <div class="col-sm-8">
                            <select name="tinhtrang" id="gioitinh" class="form-control">
                                <option value="volvo">Nam</option>
                                <option value="volvo">Nữ</option>
                                <option value="volvo">Khác</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ngaysinh" class="col-sm-4 col-form-label">Ngày sinh</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ngaysinh" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cmnd" class="col-sm-4 col-form-label">CMND</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="cmnd" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tinhtrang" class="col-sm-4 col-form-label">Tình trạng</label>
                        <div class="col-sm-8">
                            <select name="tinhtrang" id="tinhtrang" class="form-control">
                                <option value="volvo">Còn học</option>
                                <option value="saab">Nghỉ học</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mailtruong" class="col-sm-4 col-form-label">VL Mail</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="mailtruong" value="">
                        </div>
                    </div>
                </div>*@
            <div class="modal-footer">
                <button type="button" id="btnHideModal_Add" class="btn btn-light">
                    Hủy
                </button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="EditModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Sửa tài khoản</h3>
                <button type="button" class="close" data-dismiss="modal">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="hoten" class="col-sm-4 col-form-label">Họ và tên</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="hoten" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mail" class="col-sm-4 col-form-label">Mail</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="mail" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Khóa</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">K23</option>
                            <option value="2">K23</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Lớp</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">T01</option>
                            <option value="2">T02</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Vai trò</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">Sinh viên</option>
                            <option value="2">Giảng viên</option>
                            <option value="2">Khoa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lop" class="col-sm-4 col-form-label">Giảng viên chủ nhiệm</label>
                    <div class="col-sm-8">
                        <select name="tinhtrang" id="lop" class="form-control">
                            <option value="1">Nguyen van a</option>
                            <option value="1">Nguyen van b</option>
                            <option value="1">Nguyen van c</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnHideModal_Edit" class="btn btn-light">
                    Hủy
                </button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="DetailModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Xem chi tiết tài khoản</h3>
                <button type="button" class="close" data-dismiss="modal">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div class="grid">
                    <div class="tt_avt">
                        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
                    </div>
                    <div class="tt_lienlac">
                        <h5 class="popup_title">Thông tin liên lạc</h5>
                        <div class="row">
                            <label for="diachi" class="col-sm-4 col-form-label">Địa chỉ</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 78 Q12</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="dantoc" class="col-sm-4 col-form-label">Dân tộc</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Kinh</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="tongiao" class="col-sm-4 col-form-label">Tôn giáo</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Không</p>

                            </div>
                        </div>
                        <div class="row">
                            <label for="quocgia" class="col-sm-4 col-form-label">Quốc gia</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Việt nam</p>

                            </div>
                        </div>
                        <div class="row">
                            <label for="tinh" class="col-sm-4 col-form-label">Tỉnh/Thành phố</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> TP HCM</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="quanhuyen" class="col-sm-4 col-form-label">Quận/Huyện</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Quận 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="sdt" class="col-sm-4 col-form-label">SDT</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 0123456789</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="sdt" class="col-sm-4 col-form-label">Phân quyền</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Sinh viên</p>
                            </div>
                        </div>
                    </div>
                    <div class="tt_khac">
                        <h5 class="popup_title">Thông tin khóa học</h5>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">Niên khóa</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 2017-2021</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">Khóa</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> K23</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">Loại hình đào tạo</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Đại học CQ tín chỉ</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">Liên hệ cố vấn</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 0123456789</p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">Lớp sinh vien</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Khóa K23 Kỹ thuật phần mềm K23T01</p>
                            </div>
                        </div>
                        <h5 class="popup_title">Thông tin người liên hệ</h5>
                        <div class="row">
                            <label for="hoten_khac" class="col-sm-4 col-form-label">Họ và tên</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Nguyen van a</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="sdt_khac" class="col-sm-4 col-form-label">SDT</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 0123456789</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="diachi_khac" class="col-sm-4 col-form-label">Địa chỉ khác</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 78 Q12</p>
                            </div>
                        </div>
                    </div>
                    <div class="tt_canhan">
                        <h5 class="popup_title">Thông tin cá nhân</h5>
                        <div class="row">
                            <label for="ma" class="col-sm-4 col-form-label">Mã</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> T123456</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="hoten" class="col-sm-4 col-form-label">Họ và tên</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Nguyen van b</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="gioitinh" class="col-sm-4 col-form-label">Giới tính</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Nam</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="ngaysinh" class="col-sm-4 col-form-label">Ngày sinh</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 01/01/2000</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="cmnd" class="col-sm-4 col-form-label">CMND</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> 1234567890</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="tinhtrang" class="col-sm-4 col-form-label">Tình trạng</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> Còn học</p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="mailtruong" class="col-sm-4 col-form-label">Mã</label>
                            <div class="col-sm-8">
                                <p class="form-control no-border"> a.t123456@vanlanguni.vn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnHideModal_Detail" class="btn btn-light">
                    Hủy
                </button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Popup-->

<script src="~/Content/plugins/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowModal_Add").click(function () {
            $("#AddModal").modal('show');
        });
        $("#btnHideModal_Add").click(function () {
            $("#AddModal").modal('hide');
        });

        $("#btnShowModal_Edit").click(function () {
            $("#EditModal").modal('show');
        });

        $("#btnHideModal_Edit").click(function () {
            $("#EditModal").modal('hide');
        });

        $("#btnShowModal_Detail").click(function () {
            $("#DetailModal").modal('show');
        });

        $("#btnHideModal_Detail").click(function () {
            $("#DetailModal").modal('hide');
        });

        //$("#btndeleteAccount").click(function () {
        //    swal({
        //        title: "Xác nhận?",
        //        text: "Bạn có chắc muốn xóa!!!",
        //        icon: "warning",
        //        buttons: true,
        //        dangerMode: true,
        //    })
        //        .then((willDelete) => {
        //            if (willDelete) {
        //                swal("Xóa thành công", {
        //                    icon: "success",
        //                });
        //            }
        //        });
        //});

    });
</script> 